<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<title>WhatsApp Any</title>

		<link href="https://mincss.com/entireframework.min.css" rel="stylesheet" type="text/css">
		
		<style>
			.hero {
				background: #eee;
				padding: 20px;
				border-radius: 10px;
				margin: 2em auto 2em auto;				
			}

			.hero h1 {
				margin-top: 0;
				margin-bottom: 0.3em;
			}
		</style>
		
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<nav class="nav" tabindex="-1" onclick="this.focus()">
			<div class="container">
				<a class="pagename current" href="#">WhatsApp Any</a>
				<a href="https://faq.whatsapp.com/en/android/26000030/?category=5245251">FAQ</a>
				<a href="mailto:mataherry@yahoo.com">Email Me</a>
			</div>
		</nav>
		<button class="btn-close btn btn-sm">×</button>
		<div id="whatsApp" class="container" style="width: 80%; margin: auto">
			<p>Send a WhatsApp message to Any number without saving to your Contact list</p>
			<div class="hero">
				<h3>Input Phone Number</h3>
				<span class="addon">+</span><input id="phoneno" type="tel" placeholder="6281xxx" v-model="num" class="smooth">
				<input id="name" placeholder="Name (optional)" v-model="name"><span class="addon" v-on:click="clear">x</span>
				<p></p>
				<button class="btn btn-sm btn-b" v-on:click.stop="send">Send WhatsApp!</button>
			</div>
			<p></p>
			<div class="msg">
				<strong>Note:</strong>
				This phone number must have an active account on WhatsApp
			</div>
			<p></p>
			<div class="box" style="max-height:50%; overflow:auto">
			    History (<a href="#" v-on:click.stop="clearList">Clear</a>)
			    <ul>
				<li v-for="(n, i) in listNums">
				    <a href="#" v-on:click.stop="num = n.num; name = n.name">{{ n.num }}</a> {{n.name}} <a href="#" v-on:click.stop="listNums.splice(i,1);saveList()">x</a>
				</li>
			    </ul>
			</div>
		</div>
		
		<script>
		    var app = Vue.create({
			data() {
				return {
					name: '',
					num: '',
					listNums: []
				}
			},
			mounted() {
			    if (localStorage.getItem('listNums')) {
				try {
				    this.listNums = JSON.parse(localStorage.getItem('listNums'))
				} catch(e) {
				    localStorage.removeItem('listNums')
				}
			    }
			},
			methods: {
			    send: function() {
				if (this.num.trim() == '') {
				    this.num = ''
				    return
				}
				this.addNew()
				window.location = 'https://api.whatsapp.com/send?phone=' + this.num
			    },
			    addNew: function() {
				// cleansing
				this.num = this.num.trim().replace(/ /g,'').replace('+','').replace('(','').replace(')','')
				if (this.num.charAt(0) == '0')
				    this.num = this.num.replace('0', '62')

				if (this.listNums.findIndex(n => n.num == this.num) >= 0) return
				this.listNums.unshift({
				    num: this.num,
				    name: this.name
				})
				this.saveList()
			    },
			    clear() {
				this.num = ''
				this.name = ''
			    },
			    clearList() {
			      this.listNums = []
			      this.saveList()
			    },
			    saveList() {
				const parsed = JSON.stringify(this.listNums)
				localStorage.setItem('listNums', parsed)
			    }
			}
		    })
			app.mount('#whatsApp')
		</script>
	</body>
</html>
